// $color-white: rgba(255, 255, 255, 1);
// $color-blue: rgba(0, 189, 224, 1);
// $color-black: rgba(46, 46, 46, 1);
// $color-purple: rgba(49, 39, 92, 1);

$color-white: rgba(242, 242, 242, 1);
$color-blue: rgba(77, 160, 205, 1);
$color-black: rgba(47, 47, 47, 1);
$color-purple: rgba(53, 45, 88, 1);
$min-height-section: 700px;

@mixin font-hightower() {
  font-family: hightower-text, source-han-serif-japanese, serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-acumin() {
  font-family: acumin-pro, noto-sans-cjk-jp, sans-serif;
  font-weight: 300;
  font-style: normal;
}

$breakpoints: (
  'sm': 'screen and (max-width: 1024px)',
  'md': 'screen and (max-width: 1199px)',
);

@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
