html {
  font-family: hightower-text, serif;

  font-weight: 400;

  font-style: normal;
  // overflow: hidden;
  // height: 100%;
}

body {
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  background: white;
  text-rendering: optimizeLegibility;
  // height: 100%;
  // overflow: auto;
  overscroll-behavior-y: none;
}

a {
  letter-spacing: 0.05em;
}

p {
  letter-spacing: 0.05em;
}
