html {
  font-family: hightower-text, serif;

  font-weight: 400;

  font-style: normal;
  // overflow: hidden;
  // height: 100%;
  background: #f2f2f2;
  overflow: hidden;

  @media screen and (max-width: 1279px) {
    overflow: auto;
  }
}

body {
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  background: #f2f2f2;
  text-rendering: optimizeLegibility;
  // height: 100%;
  // overflow: auto;
  overscroll-behavior-y: none;
  cursor: default;
}

::-webkit-scrollbar {
  height: 0 !important;
}

a {
  letter-spacing: 0.05em;
}

p {
  letter-spacing: 0.05em;
}
